.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 90px;
  margin-top: 40px;
  background-color: #00203fff;
}
@media only screen and (max-width: 600px) {
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
